*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:monospace;
    width: 98vw;
    display: flex;
    gap: 3%;
    padding: 2%;
    
}


.main-header{
    width: 20%;
}

header h1{
    text-decoration: underline;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 5%;
}


header li{
    margin-bottom: 2%;
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header nav a:hover{
    text-decoration: underline;
}

main{
    width: 80%;
}

ul{
    list-style-type: none;
}

main section{
    margin-bottom: 5%;
}

main section header{
    width: 100%;
    margin-bottom: 2%;
}

main section ul{
    padding: 2%;
    list-style-type: circle;
}

code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}



@media only screen and (max-width: 600px) {

    body{
        flex-wrap: wrap;
    }
    .main-header{
        width: 100%;
        
    }

    main{
        width: 100%;
    }
}